<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230214864870-ct2v5868s4criqqhvrrvo5s9de7809s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230214864870-ct2v5868s4criqqhvrrvo5s9de7809s6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230214864870-ev3ve4uq7h2l9le6bv9ihp6v72np4jld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrtw2VjQXY40P0TMwHOePnpuc1KclBTco</string>
	<key>GCM_SENDER_ID</key>
	<string>230214864870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stateapp</string>
	<key>PROJECT_ID</key>
	<string>state-7b8be</string>
	<key>STORAGE_BUCKET</key>
	<string>state-7b8be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230214864870:ios:ebacda9e4115c9dfcc1027</string>
</dict>
</plist>